header{
    .page-header-top{
        padding: 40px 0 20px 5px;
        margin-left: 20px;
        img{
            max-width: 200px;
        }
    }
    .navbar-toggler{
        max-width:45px;
    }
}